*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 800px;
  height: 100%;
  margin: 0;
  padding-top: 1px;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.3);
}

.video {
  position: absolute;
  inset: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.title {
  width: 775px;
  margin: 60px auto 0;
  color: #000;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 800;
  font-size: 116px;
  line-height: 136px;
  letter-spacing: 0.035em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.title__ending::after {
  content: "*";
  letter-spacing: 0;
}

.title:hover {
  color: #4c4c4c;
}

.title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  top: 182px;
  right: 20px;
  width: fit-content;
  border: 2px solid currentColor;
  border-radius: 20px;
  padding: 34px 41px 36px 43px;
  box-shadow: 0 12px 0 currentColor;
  color: #000;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  white-space: pre;
}
